/* Global */

body {
    box-sizing: border-box;
    margin: 0;
}
a {
    color: #092635;
    text-decoration: none;
}
.padding-full {
    padding-left: 5%;
    padding-right: 5%
}
.padding-qtr {
    padding: 0 2% 0 5%;
}
.screen-block {
    max-height: 100vh;
    overflow: hidden;
    padding-bottom: 5%;
    padding-top: 5%;
}

/* Navbar */

.kh-logo {
    width: 200px;
}

/* Welcome screen */
.vertical-grades {
    height: 50vh;
    margin-top: 18%;
}
.welcome-img {
    max-height: 100%;
    object-fit: cover;
    width: 100%;
}

/* Products screen */

.kheroon-tilda {
    margin-left: 10px;
}
